node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
.dockerignore
LICENSE
README.md
database.sqlite
db.sqlite
out.txt
scripts/
supabase/
